*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    background-color: #22223b;
}

.container{
    background-color: white;
    width: 600px;
    height: 400px;
    position: relative;
}

.game{
    /* display: none; */
}

.content{
    padding: 30px;
}

.question{
    margin-bottom: 20px;
}

.answers{
    margin-left: 10px;
}

.answer{
    margin-bottom: 25px;
    font-size: 18px;
}

.submit{
    background-color: rebeccapurple;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
    border: none;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}

.submit:hover{
    background-color: rgb(112, 71, 153);
}

.result{
    display: none;
    text-align: center;
}

.congo{
    margin: 20px 0;
}

.correct{
    color: green;
    margin-bottom: 20px;
}

.wrong{
    color: red;
    margin-bottom: 20px;
}

.play{
    margin-top: 20px;
    background-color: rebeccapurple;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
}

.play:hover{
    background-color: rgb(112, 71, 153);
}